body {
    background-image: url(../assets/images/virus.png);
    background-repeat: repeat;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
    text-align: right;
    width: 100%;
}

#Name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: auto;
    padding-left: 190px;

}

.rounded-circle {
    width: 30px;
}

.alert-heading {
    font-size: 22px;
}

.alertlink {
    font-size: 17px;
}

/* Card styling */
.card-deck {
    margin: auto;
}

.card-text {
    font-size: 27px;
    text-align: center;
}

h2 {
  text-align: center;
}

h4 {
    display: inline-block;
    padding-right: 15px;
}

a {
    color: dodgerblue;
}


/* Footer */
.footer {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border: 1px solid thin;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: -25px;
}
.card-header {
    font-size: 25px;
}


/* slides */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: black;
}


/* Number text (1/6 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: teal;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* color of dot indicating what slide you are on */
.active, .dot:hover {
  background-color: rgb(230, 173, 29);
}

/* animation time */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4000s;
  animation-name: fade;
  animation-duration: 4000s;
}

/* transition opacity */
@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}